@import 'modern-normalize';
@import 'tailwindcss';

@theme {
	--color-super-light-violet: rgb(226, 171, 255);
	--color-super-violet: #e2abff;
	--color-light-violet: #68298a;
	--color-dark-violet: rgb(79, 22, 110);
	--color-light-blue: #465991;
	--color-dark-blue: #242c59;
	--color-light-white: #ffffff;
	--color-dark-white: #e6eaf0;
	--color-light-grey: rgb(185, 191, 199);
	--color-dark-grey: #b9bfc7;
	--color-super-grey: #7e838f;
	--color-overlay: #0a0d14a3;
	--color-grey: rgb(42, 43, 51);
	--color-grey-05: rgba(42, 43, 51, 0.5);
	--color-light-orange: #db3000;
	--color-dark-orange: #bf2a00;
	--color-super-light-orange: #ff6c3b;
	--color-light-yellow: #edc568;
	--color-black: #14141a;
	--color-blue: #009ecf;
	--color-light-green: #43a771;
	--color-dark-green: #35855a;
	--color-super-dark-green: #256141;
	--color-background-light-black: #1b1b21;
	--color-background-dark-black: rgb(16, 16, 20);

	/* Font sizes */
	--text-sm: 12px;
	--text-md: 14px;
	--text-lg: 20px;
	--text-xl: 24px;
	--text-2xl: 32px;

	/* Spacing (margin/padding) */
	--spacing-xs: 2px;
	--spacing-sm: 4px;
	--spacing-2sm: 7px;
	--spacing-3md: 8px;
	--spacing-md: 9px;
	--spacing-2md: 12px;
	--spacing-lg: 16px;
	--spacing-2lg: 18px;
	--spacing-xl: 24px;
	--spacing-1xl: 27px;
	--spacing-2xl: 32px;
	--spacing-3xl: 36px;
	--spacing-4xl: 54px;

	/* Border radius */
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;

	/* Max-w */
	--max-width-lg: 1014px;

	/* Shadows */
	--shadow-card: inset 1px 0px 5px 5px var(--color-dark-violet);
}

@layer base {
	body {
		font-family: 'Roboto', sans-serif;
		color: var(--color-dark-white);
		background-color: var(--color-background-dark-black);
	}

	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	ul,
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		cursor: pointer;
	}

	img {
		display: block;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.custom-scroll::-webkit-scrollbar {
	width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: var(--color-grey);
	border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--color-super-grey);
	border-radius: 10px;
}

.hidden-scroll {
	overflow-y: scroll;
	scrollbar-width: none; /* для Firefox */
	-ms-overflow-style: none;
}

.hidden-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.dropDownAnimation {
	animation: smooth-appearance 300ms;
}

@keyframes smooth-appearance {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
